<main>
  <section class="banner">
    <h1>Bem-vindo ao nosso cinema!</h1>
    <p>Assista aos melhores filmes em uma experiência incrível.</p>
  </section>

  <section class="filmes-em-destaque">
    <div class="filme">
      <img src="assets/img/terror/panico-5.png" alt="Filme 1">
      <h2> Panico 5 </h2>
      <div class="list">
      <p>Duração: 1h 54m</p>
      <p>Vinte e cinco anos após uma série de crimes brutais chocar a tranquila Woodsboro, um novo assassino se apropria da máscara de Ghostface e começa a perseguir um grupo de adolescentes para trazer à tona segredos do passado mortal da cidade.</p>
      <p>13 de janeiro de 2022</p>
    </div>
  </div>
    <div class="filme">
      <img src="assets/img/terror/M3GAN.png" alt="Filme 2">
      <h2> MEGAN </h2>
      <div class="list">
      <p>Duração: 1h 42m</p>
      <p>M3GAN é uma maravilha da inteligência artificial, uma boneca realista programada para ser a melhor amiga de uma criança. Uma robótica brilhante dá a sua jovem sobrinha um protótipo M3GAN, mas a máquina logo se torna violenta.</p>
      <p>Data de lançamento: 19 de janeiro de 2023</p>
    </div>
  </div>
    <div class="filme">
      <img src="assets/img/terror/amorte.png" alt="Filme 3">
      <h3> A Morte do Demônio </h3>
      <div class="list">
      <p>Duração: 1h 58m</p>
      <p>Uma mulher se encontra em uma luta por sua vida quando um livro antigo dá à luz demônios sedentos por sangue. Eles se tornam cada vez mais agressivos em um prédio em Los Angeles.</p>
      <p>Data de lançamento: 20 de abril de 2023</p>
    </div>
  </div>
  </section>
</main>