<main>
    <div class="categorias">
       <h2> Nossas categorias para você!</h2>  
       <nav>
       <ul>
         <li><a class="Lista1" [routerLink]="['/acao']">ação</a></li>
         <li><a class="Lista2" [routerLink]="['/terror']">Terror</a></li>
         <li><a class="Lista3" [routerLink]="['/comedia']">Comedia</a></li>
       </ul>
     </nav>
   </div>
       
       <section class="filmes-em-destaque">
         <div class="filme">
           <img src="assets/img/avatar.jpg" alt="Filme 1">
           <h3> Avatar </h3>
           <p>3h 12m</p>
         </div>
         <div class="filme">
           <img src="assets/img/homemaranha.jpg" alt="Filme 2">
           <h3> Homem-Aranha</h3>
           <p>2h 1m</p>
         </div>
         <div class="filme">
           <img src="assets/img/barbie.jpg" alt="Filme 2">
           <h3> Barbie</h3>
           <p>1h 30m</p>
         </div>
       </section>
     </main>
   